<%= react_component("GroupsShow",props: @group_prop, prerender: false)%>

<%= form_for([@group,@group.ledger,@entry]) do |f|%>
    <% if @entry.errors.any?%>
        <%= @entry.errors.full_messages%>
    <%end%>
    <%=f.label :amount%>
    <%=f.text_field :amount%>
    </br>
    </br>

    <%=f.label :description%>
    </br>
    <%=f.text_area :description, width:30%>
    <br>

    <%=f.submit%>
<%end%>

<h3>All the entries :-</h3>
<table id="tab1">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date</th>
    </tr>

    <%@entries.each do |entry|%>
        <tr>
            <td><%=entry.user.name%></td>
            <td><%=entry.amount%></td>
            <td><%=entry.description%></td>
            <td><%=entry.created_at.to_date%></td>
        </tr>
    <%end%>
</table>
</br>

<table id="shares">
    <tr>
        <th>Name</th>
        <th>Entitled</th>
    </tr>

    <%@group.members.each do |member|%>
        <tr>
            <td><%=member.name%></td>
            <td><%=@group.ledger.entitled(member)%></td>
        </tr>
    <%end%>
</table>
