<%= react_component("GroupsShow",props: @group_prop, prerender: false)%>

<%= form_for([@group,@group.ledger,@entry]) do |f|%>
    <% if @entry.errors.any?%>
        <%= @entry.errors.full_messages%>
    <%end%>
    <%=f.label :amount%>
    <%=f.text_field :amount%>
    </br>
    </br>

    <%=f.label :description%>
    </br>
    <%=f.text_area :description, width:30%>
    <br>

    <%=f.submit%>
<%end%>

<h3>All the entries :-</h3>
<table id="tab1">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date</th>
    </tr>

    <%@entries.each do |entry|%>
        <tr>
            <td><%=entry.user.name%></td>
            <td><%=entry.amount%></td>
            <td><%=entry.description%></td>
            <td><%=entry.created_at.to_date%></td>
        </tr>
    <%end%>
</table>
    </br>

    <table id="shares">
        <tr>
            <th>Name</th>
            <th>Entitled</th>
        </tr>

        <%@group.members.each do |member|%>
            <tr>
                <td><%=member.name%></td>
                <td><%=@group.ledger.entitled(member)%></td>
            </tr>
        <%end%>
    </table>

    <hr>
    <h2>Your Own Dealings:</h2>

    <div>

        <div class="give">
            <h3>TO GIVE :-</h3>
            <% @group.ledger.array_to_return(current_user).each_with_index do |value,i|%>
                <%=@group.ledger.entitled_hash[i][0].name%> :  <%= value %>
                <br>
            <%end%>

            <hr>
            Total : <%= @group.ledger.left_total(current_user)%>
    </div>

    <div class="take">

        <h3>TO TAKE :-</h3>
        <% @group.ledger.right_array(current_user).each_with_index do |value,i|%>
            <%=@group.ledger.entitled_hash[@group.ledger.entitled_hash.count - i -1][0].name%> :  <%= value %>
            <br>
        <%end%>

        <hr>
        Total : <%= @group.ledger.right_total(current_user)%>
</div>
    </div>
