<%= react_component("GroupsShow",props: @group_prop, prerender: false)%>

<%= form_for([@group,@group.ledger,@entry]) do |f|%>
    <% if @entry.errors.any?%>
        <%= @entry.errors.full_messages%>
    <%end%>
    <%=f.label :amount%>
    <%=f.text_field :amount%>

    <%=f.submit%>
<%end%>

<h3>All the entries :-</h3>
<table id="tab1">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>

    <%@entries.each do |entry|%>
        <tr>
            <td><%=entry.user.name%></td>
            <td><%=entry.amount%></td>
            <td><%=entry.created_at.to_date%></td>
        </tr>
    <%end%>
</table>


